@model ThreadedComments.Models.Post.PostIndex
@{
    ViewBag.Title = "Index";
}


<h2>@Model.Title</h2>
<h3>@Model.Body</h3>
<h4>Posted by @Model.AuthorName at @Model.PostUtcDate.ToLocalTime().ToString()</h4>

<div>
    @Html.ActionLink("New Comment", "NewComment", "Post", new RouteValueDictionary { { "id", @Model.PostId } }, null)
</div>

<h2>Comments</h2>
@if (Model.Comments.Count > 0)
{
    <table>
        @foreach (var comment in @Model.Comments)
        {
            
            <tr>
                <td>
                    <table>
                        <tr>
                            <td><img src="/Images/pix.gif" width="@(comment.Indent * 50)" height="1"/></td>
                            <td>
                                <div>By: @comment.AuthorName at @comment.CommentUtcDate.ToLocalTime().ToString()</div>
                                <div>@comment.Body</div>
                                <div>@Html.ActionLink("Reply", "NewComment", "Post", new RouteValueDictionary { { "id", @Model.PostId }, { "parentCommentId", comment.CommentId } }, null)</div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        }
    </table>
}
else
{
    <div>There are no comments for this post. Make one!</div>
}
